body {
  background: #2d343d;

}

.login {
  margin: auto;

  padding: 30px 25px;

  text-align: center;

  border-radius: 5px;
}

h1.login-title {
  margin: -28px -25px 25px;
  padding: 15px 25px;
  line-height: 30px;
  font-size: 25px;
  font-weight: 300;
  color: #ADADAD;
  text-align:center;
  background: #f7f7f7;

}

.login-input {
  font-family: auto;
  height: 20px;

  padding-left:10px;
  font-size: 15px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.login-input:focus {
    border-color:#6e8095;
    outline: none;
  }
.login-button {
  padding: 4px;
  font-size: 15px;
  color: #fff;
  text-align: center;
  background: #99bbff;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  font-family: auto;
}

.login-lost
{
  text-align:center;
  margin-bottom:0px;
}

.login-lost a
{
  color:#666;
  text-decoration:none;
  font-size:13px;
}

.img
{
  margin: auto;
  width: 100%;

}
p
{
 color: gray;
  text-align: justify;
}
