body {
  background: #2d343d;

}

.login {
  margin: auto;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  position: sticky;
  top: 0;
  background-color: darkslategray;
  width: 90%;
}

h1.login-title {
  margin: -28px -25px 25px;
  padding: 15px 25px;
  line-height: 30px;
  font-size: 25px;
  font-weight: 300;
  color: #ADADAD;
  text-align:center;
  background: #f7f7f7;

}

.login-input {
  font-family: auto;
  height: 20px;

  padding-left:10px;
  font-size: 15px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.login-input:focus {
    border-color:#6e8095;
    outline: none;
  }
.login-button {
  padding: 4px;
  font-size: 15px;
  color: #fff;
  text-align: center;
  background: #99bbff;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  font-family: auto;
}

.login-lost
{
  text-align:center;
  margin-bottom:0px;
}

.login-lost a
{
  color:#666;
  text-decoration:none;
  font-size:13px;
}

.img
{
  display: block;
  margin: auto;
  width: 50%;

}
@media screen and (max-width: 768px) {
.img {
  display: block;
  margin: auto;
  width: 90%;
}
.login-button{
  width: 200px;



}

}



p
{
  color: gray;
  text-align: justify;
  width: 90%;
  margin: auto;
  padding: 5px;
}
