ul{

  padding: 1px;

}

ul li {
  cursor: pointer;
  position: relative;

  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  /*-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;*/
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #e0e4ff;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

.collapsible {

  cursor: pointer;

  width: 100%;

  text-align: left;
  outline: none;
  font-size: 15px;

  /*  border-width: 1px;
    border-radius: 5px;*/
}
.collapsible3 {
  cursor: pointer;
  background-color: #e0e4ff;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 15px;
  padding: 15px 0px;

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
.collapsible2 {

  cursor: pointer;
  background-color: #e0e4ff;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 15px;
  padding: 15px 0px;

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.active, .collapsible2:hover {
  background-color: #555;
}

.content2 {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;

}
.button {
  margin: auto;
  display: block;
  border-radius: 3px;
  width: 100%;
  cursor: pointer;
  background-color: #a5a5a5;
  border: none;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
}
p{
  font-size: 20px;
  text-align: center;

}


.myContent {

  display: none;
  background-color: cornsilk;
  padding: inherit;
  border-radius: 3px;

}
.myContent2 {

  display: none;
  background-color: cornsilk;
  padding: inherit;
  border-radius: 3px;

}

.myContent3 {

  display: none;



}
* {box-sizing: border-box;}



@media screen and (max-width: 1000px){
  body{

    margin-right: 5px;
    margin-left: 5px;

    background-color: #c1d2dc;
  }
}

@media screen and (min-width: 1000px){
  body {
    width:1000px;
    margin:auto;

    background-color: #ececec;
  }
}



@media screen and (max-width: 768px) {
  #avatar {
    width: 50%;
    height: auto;
    display: block;
    margin: auto;
  }
}
@media screen and (min-width: 768px) {
  #avatar {
    width: 100%;
    height: auto;
  }
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: fit-content;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #FB641B;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu li:hover {
  background-color: #F38D24;
}
#history{
  padding: 15px;


}


.row::after {
  content: '';
  clear: both;
  display: table;
}
.aside{

  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 3px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 60%;

  padding: 15px;
  color: gray;
  font-size: 14px;


  text-align: left;
  margin-top:10px;
}
.column3 {
  float: left;
  width: 20%;
  background-color: white;
  padding: 15px;
  color: gray;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 3px;
  text-align: left;
  margin-top:10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
  .column3 {
    width: 100%;
  }

}

#descr{

  width: 100%;


}
span.b{
  float:right;
}
span.a{

}


@media screen and (min-width: 768px) {
  .column1 {
    height: 95vh;
    top:0;
    position: -webkit-sticky;
    position: sticky;

    font-size: 20px;
    margin-top:10px;
    background-color: #c8e4ff;

    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    float: left;
    width: 20%;
    padding: 15px;
  }
}
@media screen and (max-width: 768px) {


}



.sidenav a:hover {
  color: #f1f1f1;
}
.dateTime{

  text-align: center;
}